<html>
<head>
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="/lib/socket.io.js"></script>
	<script src="/lib/phaser.js"></script>
	<script src="/js/multiplayer.js"></script>
	<script src="/js/loading.js"></script>
	<script src="/js/preload.js"></script>
	<script src="/js/menu.js"></script>	
	<script src="/js/lobby.js"></script>	
	<script src="/js/help.js"></script>	
	<script src="/js/thegame.js"></script>
</head>
<body>
	<script>
		$(document).ready(function() {
			var game = new Phaser.Game(800, 600, Phaser.AUTO, "game");

			game.state.add("Loading", loading);
			game.state.add("Preload", preload);
			game.state.add("TitleScreen", menu);
			game.state.add("LobbyScreen", lobby);
			game.state.add("HelpScreen", help);
			game.state.add("TheGame", theGame);
			game.state.start("Loading");
		});
	</script>
</body>
</html>